doctype html
html(lang="en")
  head
    title An introduction to swagger
    style.
      iframe {
        height: 600px;
        width: 95%;
      }
  body
    .reveal
      .slides
        section
          h2 An introduction to
          h1 swagger
          img(src=require("./assets/swagger_logo.png") style="background: none; border: none;")
          p
            i by Fabian Ihl
        section
          h2 Motivation
          figure.fragment.fade-in
            img(src=require("./assets/motivation.jpg") style="height: 500px;")
            figcaption (by geek-and-poke.com)
        section
          h2 What is swagger?
          p.fragment
            | Swagger is a formal
            a(href="http://swagger.io/specification/")  specification
            |  surrounded by a large ecosystem of
            a(href="http://swagger.io/tools/")  tools
            |  for REST APIs.
        section
          section
            h1 Why swagger?
            p.fragment
              i.fa.fa-arrow-down.fa-3x
          section
            h2 Alternatives
            ul
              li.fragment RAML
              li.fragment API Blueprint
          section
            h2 Common goals
            ul
              li.fragment Easy to write
              li.fragment Comfortable to read
              li.fragment Documentation / Client / Server generation
              li.fragment Language agnostic
              li.fragment Open source
          section
            h2 What about WSDL 2.0?
            ul
              li.fragment Core concept SOAP not REST oriented
              li.fragment Sparse documentation
              li.fragment Limited community
              li.fragment Hard to read
              li.fragment Tedious to write
              li.fragment Limited REST specific tool chain
          section
            h2 Comparison
            table
              thead
                tr
                  th
                  th RAML
                  th API Blueprint
                  th Swagger
              tbody
                tr.fragment.highlight-current-blue
                  th Format
                  td yaml
                  td markdown
                  td json/yaml
                tr.fragment.highlight-current-blue
                  th Github (repos)
                  td 587
                  td 293
                  td 2209
                tr.fragment.highlight-current-blue
                  td
                    b Stackoverflow
                  td 330
                  td 770
                  td 3802
          section
            h3 Back to swagger
            p
              i.fa.fa-arrow-right.fa-3x
        section
          h2 License
          p.fragment Apache 2.0
        section(tagcloud large)
          h2 Support for
          p.fragment.
            CLOJURE
            D
            Erlang
            GO
            HASKELL
            JAVA
            JAVASCRIPT
            TYPESCRIPT
            .NET
            NODE.JS
            PERL
            PHP
            PYTHON
            RUBY
            SCALA
        section
          h2 Features
          p.fragment Specification
          p.fragment
            i.fa.fa-arrow-down
          ul
            li.fragment Documentation
            li.fragment Sandboxes
            li.fragment Client code generation
            li.fragment Server code generation
            li.fragment Design-First Approach
        section
          h2 When to integrate?
          p.fragment(data-fragment-index="0")
            | Top down
            br
            i.fa.fa-arrow-down.fa-3x
          img(src=require("./assets/swagger_logo.png") style="background: none; border: none;")
          p.fragment(data-fragment-index="1")
            i.fa.fa-arrow-up.fa-3x
            br
            | Bottom up
        section
          h2 Specification
          h3 Format
          p.fragment JSON, YAML
          p.fragment
            | data types:
            a(href="http://json-schema.org/")  JSON Schema Draft 4
        section
          h2 Specification
          h3 Structure
          ol
            li
              p
                b.fragment Info
                br
                q.fragment The object provides metadata about the API.
            li
              p
                b.fragment Paths
                br
                q.fragment Holds the relative paths to the individual endpoints. Describes the operations available.
            li
              p
                b.fragment Definitions
                br
                q.fragment An object to hold data types that can be consumed and produced by operations.
        section
          h2 Info
          pre
            code.yaml
              include ../samples/info.yaml
        section
          h2 Paths
          pre
            code.yaml
              include ../samples/paths.yaml
        section
          h2 Definitions
          pre
            code.yaml
              include ../samples/definitions.yaml
        section
          h2 Definitions in Paths
          pre
            code.yaml
              include ../samples/definitions_paths.yaml
        section
          h2 Full example
          pre
            code.yaml
              include ../samples/full_sample.yaml
        section
          h1 Tools
          h2 Editors
        section
          section
            h2 Swagger Editor
            p
              a(href="http://editor.swagger.io/") editor.swagger.io
            p.fragment
              i.fa.fa-arrow-down.fa-3x
          section
            img(src=require("./assets/swagger_editor.png"))
          section
            h3.fragment.highlight-green Pros
            ul
              li.fragment Web based (Localstorage)
              li.fragment json/yaml import/export
              li.fragment Live preview
              li.fragment Validation + Error detection
              li.fragment Vast options for client/server generation
              li.fragment Can send test requests to API implementation
              li.fragment Open source
              li.fragment May be installed locally
          section
            h3.fragment.highlight-red Cons
            ul
              li.fragment Recalculation of live preview can start to lag for large files
          section
            p
              i.fa.fa-arrow-right.fa-3x
        section
          section
            h2 Restlet Studio
            p
              a(href="https://studio.restlet.com") studio.restlet.com
            p.fragment
              i.fa.fa-arrow-down.fa-3x
          section
            img(src=require("./assets/restlet_studio.png"))
          section
            h3.fragment.highlight-green Pros
            ul
              li.fragment Web based (Localstorage or subscription)
              li.fragment GUI based!
              li.fragment swagger json/raml import/export
              li.fragment Some options for client/server generation
          section
            h3.fragment.highlight-red Cons
            ul
              li.fragment Limited validation and error detection
              li.fragment Does not support full swagger specification
              li.fragment Proprietary
          section
            p
              i.fa.fa-arrow-right.fa-3x
        section
          h1 Tools
          h2 Documentation
        section
          section
            h2 Swagger UI
            p
              a(href="http://swagger.io/swagger-ui/") swagger.io/swagger-ui
            p.fragment
              i.fa.fa-arrow-down.fa-3x
          section
            img(src=require("./assets/swagger_ui.png"))
          section
            h2 Swagger UI
            ul
              li.fragment Elaborate documentation
              li.fragment Integrated ui to send test calls
              li.fragment Sligtly complex to get started
          section
            p
              i.fa.fa-arrow-right.fa-3x
  script(type='text/javascript' src="bundle.js")
