doctype html
html(lang="en")
  head
    title An introduction to swagger
    style.
      iframe {
        height: 600px;
        width: 95%;
      }
      pre {
        width: 95% !important;
      }
      img {
        background: none !important;
        border: none !important;
      }
      p.horizontal-flex {
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      p.logos img {
        background: #FFF !important;
      }

      .line {
        display: block;
      }
      .line.focus {
        background: #555;
      }
      .reveal .slides section .fragment.current-only {
        opacity: 1;
        visibility: visible;
        display: none;
      }
      .reveal .slides section .fragment.current-only.current-fragment {
        display: block;
      }
  body
    .reveal
      .slides
        section
          h2 An introduction to
          h1 swagger
          img(src=require("./assets/swagger_logo.png"))
          p
            i by Fabian Ihl
        section
          h2 Motivation
          figure.fragment.fade-in
            img(src=require("./assets/motivation.jpg") style="height: 500px;")
            figcaption (by geek-and-poke.com)
        section
          h2 What is swagger?
          p.fragment
            | Swagger is a formal
            a(href="http://swagger.io/specification/")  specification
            |  surrounded by a large ecosystem of
            a(href="http://swagger.io/tools/")  tools
            |  for REST APIs.
        section
          section
            h1 Why swagger?
            p.fragment
              i.fa.fa-arrow-down.fa-3x
          section
            h2 Alternatives
            ul
              li.fragment RAML
              li.fragment API Blueprint
          section
            h2 Common goals
            ul
              li.fragment Easy to write
              li.fragment Comfortable to read
              li.fragment Documentation / Client / Server generation
              li.fragment Language agnostic
              li.fragment Open source
          section
            h2 What about WSDL 2.0?
            ul
              li.fragment Core concept SOAP not REST oriented
              li.fragment Sparse documentation
              li.fragment Limited community
              li.fragment Hard to read
              li.fragment Tedious to write
              li.fragment Limited REST specific tool chain
          section
            h2 Comparison
            table
              thead
                tr
                  th
                  th RAML
                  th API Blueprint
                  th Swagger
              tbody
                tr.fragment.highlight-current-blue
                  th Format
                  td yaml
                  td markdown
                  td json/yaml
                tr.fragment.highlight-current-blue
                  th Github (repos)
                  td 587
                  td 293
                  td 2209
                tr.fragment.highlight-current-blue
                  td
                    b Stackoverflow
                  td 330
                  td 770
                  td 3802
          section
            h3 Back to swagger
            p
              i.fa.fa-arrow-right.fa-3x
        section
          h2 License
          p.fragment Apache 2.0
        section(tagcloud large)
          h2 Support for
          p.fragment.
            CLOJURE
            D
            Erlang
            GO
            HASKELL
            JAVA
            JAVASCRIPT
            TYPESCRIPT
            .NET
            NODE.JS
            PERL
            PHP
            PYTHON
            RUBY
            SCALA
        section
          h2 Features
          p.fragment Specification
          p.fragment
            i.fa.fa-arrow-down
          ul
            li.fragment Documentation
            li.fragment Sandboxes
            li.fragment Client code generation
            li.fragment Server code generation
            li.fragment Design-First Approach
        section
          h2 When to integrate?
          p.fragment(data-fragment-index="0")
            | Top down
            br
            i.fa.fa-arrow-down.fa-3x
          img(src=require("./assets/swagger_logo.png") style="background: none; border: none;")
          p.fragment(data-fragment-index="1")
            i.fa.fa-arrow-up.fa-3x
            br
            | Bottom up
        section
          h2 Specification
          h3 Format
          p.fragment JSON, YAML
          p.fragment
            | data types:
            a(href="http://json-schema.org/")  JSON Schema Draft 4
        section
          h2 Specification
          h3 Structure
          ol
            li
              p
                b.fragment Info
                br
                q.fragment The object provides metadata about the API.
            li
              p
                b.fragment Paths
                br
                q.fragment Holds the relative paths to the individual endpoints. Describes the operations available.
            li
              p
                b.fragment Definitions
                br
                q.fragment An object to hold data types that can be consumed and produced by operations.
        section
          h2 Info
          pre
            code.yaml
              include ../samples/info.yaml
          p.fragment(data-code-focus="1") Test 1
          p.fragment(data-code-focus="2") Test 2
          p: i (See info.yaml in samples)
        section
          h2 Paths
          pre
            code.yaml
              include ../samples/paths.yaml
          p: i (See paths.yaml in samples)
        section
          h2 Definitions
          pre
            code.yaml
              include ../samples/definitions.yaml
          p: i (See definitions.yaml in samples)
        section
          h2 Definitions in Paths
          pre
            code.yaml
              include ../samples/definitions_paths.yaml
          p: i (See definitions_paths.yaml in samples)
        section
          h2 Full example
          pre
            code.yaml
              include ../samples/full_sample.yaml
          p: i (See full_sample.yaml in samples)
        section
          h1 Tools
          h2 Editors
        section
          section
            h2 Swagger Editor
            p: a(href="http://editor.swagger.io/") editor.swagger.io
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            img(src=require("./assets/swagger_editor.png"))
          section
            h3.fragment.highlight-green Pros
            ul
              li.fragment Web based (Localstorage)
              li.fragment json/yaml import/export
              li.fragment Live preview
              li.fragment Validation + Error detection
              li.fragment Vast options for client/server generation
              li.fragment Can send test requests to API implementation
              li.fragment Open source
              li.fragment May be installed locally
          section
            h3.fragment.highlight-red Cons
            ul
              li.fragment Recalculation of live preview can start to lag for large files
          section
            p: i.fa.fa-arrow-right.fa-3x
        section
          section
            h2 Restlet Studio
            p: a(href="https://studio.restlet.com") studio.restlet.com
            p.fragment
              i.fa.fa-arrow-down.fa-3x
          section
            img(src=require("./assets/restlet_studio.png"))
          section
            h3.fragment.highlight-green Pros
            ul
              li.fragment Web based (Localstorage or subscription)
              li.fragment GUI based!
              li.fragment swagger json/raml import/export
              li.fragment Some options for client/server generation
          section
            h3.fragment.highlight-red Cons
            ul
              li.fragment Limited validation and error detection
              li.fragment Does not support full swagger specification
              li.fragment Proprietary
          section
            p: i.fa.fa-arrow-right.fa-3x
        section
          h1 Tools
          h2 Documentation
        section
          section
            h2 Swagger UI
            p: a(href="http://swagger.io/swagger-ui/") swagger.io/swagger-ui
            p (Node.js)
            p.fragment
              i.fa.fa-arrow-down.fa-3x
          section
            img(src=require("./assets/swagger_ui.png"))
          section
            h2 Swagger UI
            ul
              li.fragment Elaborate layout
              li.fragment Integrated ui to send test calls
              li.fragment Sligtly complex to get started
          section
            p: i.fa.fa-arrow-right.fa-3x
        section
          section
            h2 bootprint-openapi
            p: a(href="https://github.com/nknapp/bootprint-openapi") github.com/nknapp/bootprint-openapi
            p (fka. bootprint-swagger)
            p (Node.js)
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            iframe(src="bootprint.html")
          section
            h2 Features
            ul
              li.fragment Clear layout
              li.fragment Static html file
              li.fragment Can be converted to pdf
              li.fragment Supports custom templates and styling
              li.fragment Easy setup and generation
          section
            h2 Requirements
            pre
              code.json
                include ../bootprint-sample/package.json
            p: i (See package.json in bootprint sample)
          section
            h2 Usage
            ol
              li.fragment
                b Install
                p npm install
              li.fragment
                b Compile HTML
                p npm run html
          section
            p: i.fa.fa-arrow-right.fa-3x
        section
          h1 Tools
          h2 Dev server
        section
          section
            h2 Swagger-server
            p: a(href="https://github.com/BigstickCarpet/swagger-server") github.com/BigstickCarpet/swagger-server
            p (Node.js)
            p.fragment: i.fa.fa-arrow-down.fa-3x
          section
            h2 Features
            ul
              li.fragment Supports JSON and YAML
              li.fragment Easy to set up
              li.fragment Auto reload
              li.fragment Mocks all CRUD operations
              li.fragment Validates requests
              li.fragment Temporary storage
              li.fragment Can load sample data
              li.fragment Easy to extend with custom logic
          section
            h2 Requirements
            pre
              code.json
                include ../server-samples/package.json
            p: i (See package.json in server samples)
          section
            h2 Server code
            .fragment
              pre
                code.js
                  include ../server-samples/simple.js
              p: i (See simple.js in server samples)
            h3.fragment Or even less...
            pre.fragment
              code.js
                include ../server-samples/oneliner.js
          section
            h2 Try the sample
          section
            h2 Loading sample data
            .fragment
              pre
                code.js
                  include ../server-samples/sample_data.js
              p: i (See sample_data.js in server samples)
          section
            h2 Try the sample
          section
            h2 Custom logic
            p.fragment Test if email contains '@'
            .fragment
              pre
                code.js
                  include ../server-samples/custom_logic.js
              p: i (See custom_logic.js in server samples)
          section
            h2 Try the sample
          section
            p: i.fa.fa-arrow-right.fa-3x
        section
          h1 Future
        section
          h2.fragment(data-fragment-index="2") Open API Initiative
          p.horizontal-flex
            img.fragment(src=require("./assets/swagger_logo.png") data-fragment-index="0")
            i.fragment.fa.fa-arrow-right.fa-3x(data-fragment-index="1")
            img.fragment(src=require("./assets/oai_logo.png") data-fragment-index="2")
          p.fragment(data-fragment-index="3") A Linux Foundation Collaborative Project
        section
          h2 Open API Initiative
          p: a(href="https://openapis.org/") openapis.org
          blockquote.fragment SmartBear Software is donating the Swagger Specification directly to the OAI as the basis of this Open Specification.
        section
          h2 Goal
          blockquote.fragment The OAI is focused on creating, evolving and promoting a vendor neutral API Description Format based on the Swagger Specification.
        section
          h2 Members
          p.horizontal-flex.logos.fragment
            img(src=require("./assets/oai/logo_3scale.png"))
            img(src=require("./assets/oai/logo_apigee.png"))
            img(src=require("./assets/oai/logo_apinf.png"))
            img(src=require("./assets/oai/logo_capitalone.png"))
            img(src=require("./assets/oai/logo_google_new.png"))
            img(src=require("./assets/oai/logo_ibm.png"))
            img(src=require("./assets/oai/logo_intuit.png"))
            img(src=require("./assets/oai/logo_mashape.png"))
            img(src=require("./assets/oai/logo_microsoft.png"))
            img(src=require("./assets/oai/logo_paypal.png"))
            img(src=require("./assets/oai/logo_restlet.png"))
            img(src=require("./assets/oai/logo_smartbear.png"))
        section
          h1.fragment Thank you
        section
          h1 Questions ?
          hr
          p View this presentation at:
          p: a(href="http://akuryou.github.io/introduction-to-swagger") akuryou.github.io/introduction-to-swagger
          p Clone it, fork it, try the samples at:
          p: a(href="https://github.com/akuryou/introduction-to-swagger") github.com/akuryou/introduction-to-swagger
  script(type='text/javascript' src="bundle.js")
